body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; 
    background-image: url('2013_11_19_4_55_38.jpg');
    background-repeat: repeat-x, no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%, 50% 50%; 
    background-size: cover; 

}

.topHeader {
    /*opacity: 0.96;  I have decided to go opaque. I feel it brings a cleaner look */ 
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: #2f2f42;
    height: 63px;
}

h3 {
    color: #22BCB9;
    font-size: 21px;
    margin-left: 12%;
}

.topHeader .nav {
    display: inline-block;
    float: right;
    margin-top: -47px;
    margin-right: 12%;

}

.topHeader .nav li {
    display: inline;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 0;
}

li a {
    border: 1px solid #22BCB9;
    border-radius: 4px;
    padding: 7px;
    color: #22BCB9;
    text-decoration: none;
    font-size: 17px;
    box-shadow: #111214 0px 1px 3px 0px;
}

li a:hover {
    border: 1px solid #13EDEA;
    color: #13EDEA;
    text-decoration: none;
    font-size: 17px;
}

.hero-unit {
    margin: 170px auto 0 auto;
    width: 400px;
    height: 336px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    opacity: 0.84;
    padding: 60px;
    border-left: 12px solid #22BCB9;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.bar1 {
    opacity: 0.96;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 77px;
    z-index: 10;
    height: 100px;
    background-color: #2f2f42;
}

.banner {
    font-family: sans-serif;
    color: lightgrey;
    font-size: 36px;
    line-height: 100px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;

}

.bar2 {
    margin-left: -30px;
    margin-right: -30px;
    z-index: 10;
    height: 27px;
    background-color: lightgrey;
}

.scroll {
    text-align: center;
    margin-top: 0;
    font-family: sans-serif;
    color: #606080;
    font-size: 13px;
    letter-spacing: 4px;
    line-height: 27px;
}

.mainSection {
    margin-left: -30px;
    margin-right: -30px;
    height: 1200px;
    background-color: white;
}

.subSection {
    opacity: 0.84;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 0px;
    z-index: 10;
    height: 324px;
    background-color: #2f2f42;
    color: lightgrey;
    text-align: center;
} 

.subSection h1 {
    margin-top: 0px;
    padding-top: 5%;
}

.info {
    color: #22BCB9;
    font-weight: bold;
    font-size: 18px;
}

.info1 {
    color: #22BCB9;
    font-weight: bold;
    font-size: 18px;
}

.info:hover {
    color: #13EDEA;
    font-weight: bold;
}

.info1:hover {
    color: #13EDEA;
    font-weight: bold;
}

.Footer {
    margin-left: -30px;
    margin-right: -30px;
    z-index: 10;
    height: 50px;
    background-color: #22BCB9;
    margin-bottom: -8px;
}

.tree {
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
}

.fadein {
    position: relative;
    height: 320px;
    width: 320px;
}

.fadein img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 200px;
}

.fadeWrap {
    display: inline-block;
    height: 320px;
    width: 320px;
    padding-top: 7%;
}

.topRight {
    display: inline-block;
    margin-left: 14%;
}

.hero-unit1 {
    margin: 0 auto 0 auto;
    width: 77%;
    height: 480px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    border-bottom: .99px solid lightgrey;   
}

.hero-unit2 {
    margin-left: 9.91%;
    float: left;
    text-align: center;
    width: 40%;
    height: 640px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    border-bottom: .99px solid lightgrey;
    border-right: .99px solid lightgrey;
}

.hero-unit3 {
    margin-right: 9.95%;
    float: right;
    text-align: center;
    width: 40%;
    height: 640px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    border-bottom: .99px solid lightgrey; 
    border-left: .99px solid lightgrey;
}
